/*#checkbox-menu {
  opacity:0;
  position:absolute;
}
#label {
  margin:5px;
  margin-left:380px;
  cursor:pointer;
  position:relative;
  display:block;
  height:22px;
  width:30px;
}

#label span {
  position:absolute;
  height:4px;
  width:100%;
  display:block;
  border-radius:30px;
  background-color:#a80000;
  transition:0.25s ease-in-out;
}
#label span:nth-child(1) {
  top:0;
}
#label span:nth-child(2) {
  top:8px;
}
#label span:nth-child(3) {
  top:16px;
}
#checkbox-menu:checked + #label span:nth-child(1) {
  transform:rotate(-45deg);
  top:8px;
}
#checkbox-menu:checked + #label span:nth-child(2) {
  opacity:0;
}
#checkbox-menu:checked + #label span:nth-child(3) {
  transform:rotate(45deg);
  top:8px;
}*/
@charset "UTF-8";
    * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body {
      background-color:#111;
      font-family:Arial, Helvetica, sans-serif;
    }
    .box {
      background-image:url('../images/abstract-pattern-design_1053-523.jpg');
      border-radius:25px;
      overflow:hidden;
      position:absolute;
      top:60%;
      left:50%;
      transform:translate(-50%, -60%);
      height:480px;
      width:350px;
      background-color:red;
    }
    .container {
      padding:22px;
      /* height:220px;
      width:350px; */
      display:inline-block;
      background-color:gray;
      background-size:cover;
      background-position:center center;
      background-attachment:fixed;
      box-shadow:inset 2px 2px 2px rgb(0,0,0,0.514);
      border:1.5px outset rgb(65,65,65);
      border-radius:30px;
      margin:5px;
      text-align:center;
      background-color:black;
      color:white;
    }
    .container >h3 {
      margin-bottom:15px;
    }
    #container-login {
      position:absolute;
      top:20%;
      left:50%;
      transform:translate(-50%, -20%);
      max-height:284px;
      max-width:300px;
    }
    #container-cadastro {
      position:absolute;
      top:20%;
      left:555%;
      transform:translate(-555%, -20%);
       max-height:393px;
       max-width:287px;
    } 
    .label {
      margin-top:15px;
      margin-bottom:5px;
      text-align:start;
    }
    .btn {
      background-color:rgba(0,0,0,0);
      color:white;
      border:none;
      border-radius:4px;
      padding:3px;
    }
    .btn-go {
      background-color:black;
      color:white;
      height:50px;
      width:50px;
      border:none;
      border-radius:16px;
      font-size:18pt;
      padding:;
      position:absolute;
      top:95%;
      left:80%;
      transform:translate(-80%, -95%);
    }
    #btn-login1 {
      margin-top:15px;
      margin-left:15px;
    }
    #btn-login2 {
      margin-top:15px;
      margin-right:15px;
    }