/*#checkbox-menu {
  opacity:0;
  position:absolute;
}
#label {
  margin:5px;
  margin-left:380px;
  cursor:pointer;
  position:relative;
  display:block;
  height:22px;
  width:30px;
}

#label span {
  position:absolute;
  height:4px;
  width:100%;
  display:block;
  border-radius:30px;
  background-color:#a80000;
  transition:0.25s ease-in-out;
}
#label span:nth-child(1) {
  top:0;
}
#label span:nth-child(2) {
  top:8px;
}
#label span:nth-child(3) {
  top:16px;
}
#checkbox-menu:checked + #label span:nth-child(1) {
  transform:rotate(-45deg);
  top:8px;
}
#checkbox-menu:checked + #label span:nth-child(2) {
  opacity:0;
}
#checkbox-menu:checked + #label span:nth-child(3) {
  transform:rotate(45deg);
  top:8px;
}*/
@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ysabeau+Office:wght@200&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
:root {
  --font1:'Ysabeau Office', sans-serif;
  --font2:'Poppins', sans-serif;
}
    * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body {
      background-color:rgb(234,234,234);
      background-image:url('../images/IMG-20230716-WA0000.jpg');
      backdrop-filter:blur(10px);
      background-size:cover;
      background-repeat:no-repeat;
      font-family:var(--fonte1);
      height:100vh;
    }
    .box {
      border:none;
      border-radius:25px;
      overflow:hidden;
      position:absolute;
      top:30%;
      left:50%;
      transform:translate(-50%, -30%);
      height:100vh;
      width:95vw;
    }
    .container {
      padding:28px;
      display:inline-block;
      height:80vh; 
      width:140vw;  
      box-shadow:1px 2px 2px rgb(0,0,0,0.333);
      border:2px solid black;
      border-radius:20px;
      margin:5px;
      text-align:center;
      font-family:var(--font2);
      background-color:#ffffff;
      color:black;
    }
    .container >h3 {
      margin-bottom:15px;
      font-size:2em;
    }
    .container >input {
      border:none;
      border-bottom:1px solid black;
    }
    .label >label {
      font-size:1.1em;
    }
    #container-login {
      position:absolute;
      top:37%;
      left:50%;
      transform:translate(-50%, -37%);
      max-height:350vh;
      max-width:90vw;
    }
    #container-cadastro {
      position:absolute;
      top:37%;
      left:50%;
      transform:translate(80%, -37%);
      max-height:350vh;
      max-width:90vw; 
    } 
    .label {
      font-family:var(--font2);
      margin-top:15px;
      margin-bottom:5px; 
      /*text-align:start;*/
    }
    .btn {
      background-color:rgb(0,0,0);
      color:white;
      border:none;
      border-radius:4px;
      padding:8px;
    }
    .btn-go {
      background-color:black;
      color:white;
      height:50px;
      width:50px;
      border:none;
      border-radius:16px;
      font-size:16pt;
      position:absolute;
      top:95%;
      left:80%;
      transform:translate(-80%, -95%);
    }
    .btn-back {
      background-color:black;
      color:white;
      height:50px;
      width:50px;
      border:none;
      border-radius:16px;
      font-size:16pt;
      position:absolute;
      top:95%;
      left:15%;
      transform:translate(-15%,-95%);
    }
    #btn-login1 {
      margin-top:15px;
      margin-left:15px;
    }
    #btn-login2 {
      margin-top:5px;
      margin-right:18px;
    }
input:hover {
  outline:1px solid black;
}
