/*#checkbox-menu {
  opacity:0;
  position:absolute;
}
#label {
  margin:5px;
  margin-left:380px;
  cursor:pointer;
  position:relative;
  display:block;
  height:22px;
  width:30px;
}

#label span {
  position:absolute;
  height:4px;
  width:100%;
  display:block;
  border-radius:30px;
  background-color:#a80000;
  transition:0.25s ease-in-out;
}
#label span:nth-child(1) {
  top:0;
}
#label span:nth-child(2) {
  top:8px;
}
#label span:nth-child(3) {
  top:16px;
}
#checkbox-menu:checked + #label span:nth-child(1) {
  transform:rotate(-45deg);
  top:8px;
}
#checkbox-menu:checked + #label span:nth-child(2) {
  opacity:0;
}
#checkbox-menu:checked + #label span:nth-child(3) {
  transform:rotate(45deg);
  top:8px;
}*/
@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ysabeau+Office:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
:root {
  --font1:'Ysabeau Office', sans-serif;
  --font2:'Poppins', sans-serif;
}
    * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    body {
      background-color:#212121;
      font-family:var(--fonte1);
    }
    main {
      height:400px;
      position:relative;
      top:800px;
      font-size:1.2em;
      line-height:1.7em;
      padding:16px;
      background-image:linear-gradient(-160deg, rgba(20,20,20,0.998), black);
      color:white;
    }
    #footer {
      padding-top:100px;
      text-align:end;
    }
    .box {
      border:none;
      border-radius:25px;
      overflow:hidden;
      position:absolute;
      top:60%;
      left:50%;
      transform:translate(-50%, -60%);
      height:90%;
      width:95vw;
    }
    .container {
      padding:28px;
      display:inline-block;
      height:46vh; 
      width:140vw;  
      box-shadow:inset 2px 2px 2px rgb(0,0,0,0.514);
      border:1.5px outset rgb(65,65,65);
      border-radius:30px;
      margin:5px;
      text-align:center;
      background-color:#ffffff;
      color:black;
    }
    .container >h3 {
      margin-bottom:15px;
    }
    #container-login {
      position:absolute;
      top:20%;
      left:50%;
      transform:translate(-50%, -20%);
      max-height:70vh;
      max-width:180vw;
    }
    #container-cadastro {
      position:absolute;
      top:20%;
      left:50%;
      transform:translate(80%, -20%);
      max-height:70vh;
      max-width:180vw; 
    } 
    .label {
      font-family:var(--font2);
      margin-top:15px;
      margin-bottom:5px; 
      /*text-align:start;*/
    }
    .btn {
      background-color:rgb(0,0,0);
      color:white;
      border:none;
      border-radius:4px;
      padding:3px;
    }
    .btn-go {
      background-color:black;
      color:white;
      height:50px;
      width:50px;
      border:none;
      border-radius:16px;
      font-size:18pt;
      padding:;
      position:absolute;
      top:95%;
      left:80%;
      transform:translate(-80%, -95%);
    }
    .btn-back {
      background-color:black;
      color:white;
      height:50px;
      width:50px;
      border:none;
      border-radius:16px;
      font-size:18pt;
      padding:;
      position:absolute;
      top:89%;
      left:15%;
      transform:translate(-15%,-89%);
      transform:rotate(180deg);
    }
    #btn-login1 {
      margin-top:15px;
      margin-left:15px;
    }
    #btn-login2 {
      margin-top:5px;
      margin-right:18px;
    }